<div class="canvaswrap"></canvas></div>

<div class="textArea" id="capture">
  <div class="textAreaBg">
    <img src="./assets/img/1.webp" alt="">
  </div>
  <div class="textBox">
    <div class="title">
      Ripple Effect
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet, <br>
      consectetur adipiscing elit sed do<br>
       eiusmod tempor 
    </div>
  </div>

</div>
