<div class="canvaswrap"><canvas id="webgl"></canvas></div>

<div class="titleArea">
  <h1 class="title">Interactive particles using different geometries</h1>

  <div class="textArea">
    <p class="text">The Starry Night：BufferGeometry</p>
    <p class="text">Sunflowers：PlaneGeometry</p>
  </div>
</div>
