@keyframes arrowright {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  20% {
    opacity: 0;
    transform: translateX(30%);
  }

  22% {
    opacity: 0;
    transform: translateX(-30%);
  }

  100%,
  40% {
    opacity: 1;
    transform: translateX(0);
  }
}
